<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuntan.content.article.mapper.ArticleMapper">

    <!-- 批量更新互动数据 -->
    <update id="updateInteractBatch">
        update article
        <trim prefix="SET" suffixOverrides=",">
            <!-- 更新阅读量: 如果DTO里是null(Redis里没存)，保持数据库原值(id=id) -->
            <trim prefix="view_count = CASE" suffix="END,">
                <foreach collection="list" item="item">
                    <if test="item.viewCount != null">
                        WHEN id = #{item.id} THEN #{item.viewCount}
                    </if>
                </foreach>
            </trim>

            <!-- 更新点赞数 -->
            <trim prefix="like_count = CASE" suffix="END,">
                <foreach collection="list" item="item">
                    <if test="item.likeCount != null">
                        WHEN id = #{item.id} THEN #{item.likeCount}
                    </if>
                </foreach>
            </trim>

            <!-- 更新收藏数 -->
            <trim prefix="collect_count = CASE" suffix="END,">
                <foreach collection="list" item="item">
                    <if test="item.collectCount != null">
                        WHEN id = #{item.id} THEN #{item.collectCount}
                    </if>
                </foreach>
            </trim>
        </trim>
        WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <!--    根据标签或分类分页查询文章-->
    <select id="selectArticleWithCategory"
            resultType="com.yuntan.content.article.vo.ArticleExhibitFrontVO">
        SELECT DISTINCT
        a.*
        FROM article a
        LEFT JOIN article_category ac ON a.id = ac.article_id
        LEFT JOIN article_tag at ON a.id = at.article_id
        WHERE a.status = 1 and a.deleted = 0

        <if test="categoryId != null">
            AND ac.category_id = #{categoryId}
        </if>

        <if test="tagId != null">
            AND at.tag_id = #{tagId}
        </if>

        ORDER BY a.is_top DESC, a.publish_time DESC
    </select>

</mapper>